[Unit]
Description=Nomad Client
After=network.target

[Service]
Type=simple
ExecStart={{ config_dir }}/bin/nomad_amd64 -c -r{{ hostvars["server"].ansible_host }}:{{ port }} {{ fec }} --sub-net {{ subnet }} --tun-dev nomad --keep-reconnect --disable-obscure
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
