[Unit]
Description=Nomad Server
After=network.target

[Service]
Type=simple
ExecStart={{ config_dir }}/bin/nomad_amd64 -s -l[::]:{{ port }} {{ fec }} --sub-net {{ subnet }} --mode 1 --timeout 1 --tun-dev nomad --disable-obscure
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
