# {{ ansible_managed }}

[Unit]
Description=Xray Service
Documentation=https://github.com/xtls
After=network.target nss-lookup.target

[Service]
Type=simple
CPUQuota=infinity
MemoryAccounting=no
TasksAccounting=no
MemoryMax=infinity
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0
LimitRTPRIO=99
LimitRTTIME=infinity
LimitNPROC=infinity
LimitNOFILE=infinity
NoNewPrivileges=false
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
ExecStart={{ xray_dir }}/xray run -config {{ xray_dir }}/config.json
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
