# {{ ansible_managed }}
[Unit]
Description=EasyTier Service
After=network.target nss-lookup.target

[Service]
# Process type configuration
Type=simple

# Disable all resource accounting
CPUAccounting=no
MemoryAccounting=no
IOAccounting=no
IPAccounting=no
TasksAccounting=no

# Remove resource limits
CPUQuota=
MemoryMax=

# Real-time scheduling settings
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0

# Process resource limits
LimitRTPRIO=99
LimitRTTIME=infinity
LimitNPROC=infinity
LimitNOFILE=infinity
LimitMEMLOCK=infinity

# Performance optimizations
OOMScoreAdjust=-1000
Slice=-.slice
TimeoutStartSec=3s
TimeoutStopSec=3s

# Service execution
Restart=on-failure
RestartSec=5s
ExecStart=taskset -c {{ cpu_mask }} {{ easytier_dir }}/easytier-core -i {{ easytier_client_ipv4 }} --peers {{ easytier_protocol }}://{{ peer_host }}:{{ easytier_port }} --hostname easytier --network-secret {{ easytier_secret }} --default-protocol {{ easytier_protocol }} --dev-name easytier {% if easytier_multithread %}--multi-thread{% endif %} {% if not easytier_encryption %}--disable-encryption{% endif %} {% if not easytier_ipv6 %}--disable-ipv6{% endif %}

[Install]
WantedBy=multi-user.target
