# {{ ansible_managed }}

[Unit]
Description=Configure EasyTier Interface Settings
After=easytier.service
PartOf=easytier.service

[Service]
Type=oneshot
ExecStart=/bin/bash {{ easytier_dir }}/easytier-tun.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
