[Unit]
Description=Configure EasyTier Interface Settings
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash {{ easytier_dir }}/easytier-tun.sh
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
