# {{ ansible_managed }}

[Unit]
Description=EasyTier Service
After=network.target

[Service]
Type=simple
CPUQuota=infinity
MemoryAccounting=no
TasksAccounting=no
MemoryMax=infinity
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=98
IOSchedulingClass=realtime
IOSchedulingPriority=0
LimitRTPRIO=99
LimitRTTIME=infinity
LimitNPROC=infinity
LimitNOFILE=infinity
NoNewPrivileges=false
Restart=on-failure
RestartSec=5s
ExecStart={{ easytier_dir }}/easytier-core -i {{ easytier_server_ipv4 }} --hostname easytier --network-secret {{ easytier_secret }} --default-protocol {{ easytier_protocol }} -l {{ easytier_protocol }}://0.0.0.0:{{ easytier_port }} --dev-name easytier {% if easytier_multithread %}--multi-thread{% endif %} {% if not easytier_encryption %}--disable-encryption{% endif %} {% if not easytier_ipv6 %}--disable-ipv6{% endif %}

[Install]
WantedBy=multi-user.target
