# {{ ansible_managed }}

[Unit]
Description=EasyTier Service
After=network.target

[Service]
CPUQuota=80%
MemoryMax=512M
MemoryAccounting=true
MemorySwappiness=0
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
IOSchedulingClass=realtime
IOSchedulingPriority=0
LimitRTPRIO=80
LimitRTTIME=1000000
LimitNPROC=10000
LimitNOFILE=1000000
Restart=on-failure
RestartSec=5s
ExecStart={{ easytier_dir }}/easytier-core -i {{ easytier_server_ipv4 }} --hostname easytier --network-secret {{ easytier_secret }} --default-protocol {{ easytier_protocol }} -l {{ easytier_protocol }}://0.0.0.0:{{ easytier_port }} --dev-name easytier {% if easytier_multithread %}--multi-thread{% endif %} {% if not easytier_encryption %}--disable-encryption{% endif %} {% if not easytier_ipv6 %}--disable-ipv6{% endif %}

[Install]
WantedBy=multi-user.target
