[Interface]
PrivateKey = {{ wg_private_key }}
Address = {{ wg_gateway }}
ListenPort = {{ wg_port }}
MTU = {{ wg_mtu }}
PostUp = /opt/wgnf.sh up
PostDown = /opt/wgnf.sh down

[Peer]
PublicKey = ZcRwKf2dHV0qEusPXwcP5mrMiwydUf99qXIYO4OCbCM=
PresharedKey = 5MUbM9SrAbnsb2s+/Afb06zuhwMAYyyDsHOE/A8EeOo=
AllowedIPs = 10.4.24.2/32
