{% if inventory_hostname == 'internal-network' %}
*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
{% if enable_ip6gre and ip6gre_nat %}
-A PREROUTING -p tcp --dport {{ sshd_config.Port | default('22') }} -j DNAT --to-destination {{ hostvars['internal-network'].ansible_host }}
-A PREROUTING -j DNAT --to-destination {{ ip6gre_external_network_private_ipv4 }}
-A POSTROUTING -j MASQUERADE
{% endif %}
{% endif %}

*mangle
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG NONE -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,SYN FIN,SYN -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags SYN,RST SYN,RST -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,RST FIN,RST -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,ACK FIN -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags ACK,URG URG -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags PSH,ACK PSH -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG FIN,SYN,RST,PSH,ACK,URG -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG FIN,PSH,URG -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG FIN,SYN,PSH,URG -j DROP
-A PREROUTING -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG FIN,SYN,RST,ACK,URG -j DROP
{% if dscp and firewall_config.udp_port_access is defined %}
{% for port in firewall_config.udp_port_access %}
-A PREROUTING -p udp -m udp --dport {{ port }} -j DSCP --set-dscp 32
-A POSTROUTING -p udp -m udp --sport {{ port }} -j DSCP --set-dscp {% if inventory_hostname == 'internal-network' %}0{% else %}32{% endif %}
{% endfor %}
{% endif %}
COMMIT

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT -m comment --comment "Allow incoming related and established connections."
{% if firewall_config.network_adapter_access is defined %}
{% for adapter in firewall_config.network_adapter_access %}
-A INPUT -i {{ adapter }} -j ACCEPT -m comment --comment "Allow {{ adapter }} interface packets."
{% endfor %}
{% endif %}
-A INPUT -p tcp -m tcp --dport {{ sshd_config.Port | default('22') }} -j ACCEPT -m comment --comment "Accept SSH connections."
-A INPUT -p 41 -j ACCEPT
-A INPUT -p 47 -j ACCEPT
{% if firewall_config.trusted_range is defined %}
{% for cidr in firewall_config.trusted_range %}
-A INPUT -s {{ cidr }} -j ACCEPT -m comment --comment "Allow incoming packets from trusted range."
{% endfor %}
{% if firewall_config.tcp_port_access is defined %}
{% for port in firewall_config.tcp_port_access %}
-A INPUT -p tcp -m tcp --dport {{ port }} -j ACCEPT -m comment --comment "Allow incoming tcp packets on {{ port }}."
{% endfor %}
{% endif %}
{% if firewall_config.udp_port_access is defined %}
{% for port in firewall_config.udp_port_access %}
-A INPUT -p udp -m udp --dport {{ port }} -j ACCEPT -m comment --comment "Allow incoming udp packets on {{ port }}"
{% endfor %}
{% endif %}
COMMIT
