# {{ ansible_managed }}

[Unit]
Description=Hysteria Service
After=network.target

[Service]
CPUQuota=80%
MemoryMax=512M
MemoryAccounting=true
MemorySwappiness=0
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
IOSchedulingClass=realtime
IOSchedulingPriority=0
LimitRTPRIO=80
LimitRTTIME=1000000
LimitNPROC=10000
LimitNOFILE=1000000
ExecStart={{ hysteria_dir }}/hysteria server -c {{ hysteria_dir }}/config.yaml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
